@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

html {
  background: url("/bg.jpg") no-repeat center center fixed;
}

@layer base {
  h1 {
    @apply text-6xl font-heading;
  }
  p {
    @apply leading-loose;
  }
}

@layer components {
  .panel {
    @apply bg-black bg-opacity-50 rounded-md  flex flex-col items-center w-full min-h-screen md:min-h-0  text-5xl;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .nav-item-landing {
    @apply flex flex-col items-center hover:text-black hover:bg-white transform hover:scale-110 transition-all duration-200 rounded-md p-2 cursor-pointer;
  }

  .nav-item-landing > i {
    @apply pb-2;
  }

  .nav-item {
    @apply hover:text-gray-300 transition-all transform hover:scale-125 text-white cursor-pointer tracking-widest duration-200 text-2xl md:text-lg py-12 md:py-0;
  }

  .text-glow {
    text-shadow: 1px 1px 10px #fff;
  }

  .hover-glow {
    cursor: pointer;
  }

  .hover-glow-item {
    transition: box-shadow 0.5s, transform 0.25s;
  }
  .hover-glow-text {
    transition: text-shadow 0.5s;
  }

  .hover-glow:hover .hover-glow-item {
    box-shadow: 0px 0px 30px #fff;
    transform: scale(1.01);
  }
  .hover-glow:hover .hover-glow-text {
    text-shadow: 0px 0px 15px #fff;
  }

  .nav-line {
    @apply h-px bg-white w-10 absolute;
  }

  .nav-box {
    @apply relative h-10;
  }

  .about-body > p,
  .project-body > p {
    @apply py-5;
  }
}
